/*--------------SHORT ABOUT------------*/

.read-more-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
}

.read-more-link:hover::after {
    transform: translateX(333%);
}